<!--
  River flows and gages
-->
{% extends "base.html" %}
{% block content %}
    {% for river, gages in rivers.items() %}
      <h2> {{ river }} </h2>
        <div class="row mb-0">
            {% for gage in gages %}
              <div class="col-lg-6 col-xxl-4 mb-4">
                <div class="row">
                  <h4> 
                    <a href="{{ gage.url() }}">{{ gage.location }}</a> &emsp; 
                    <b>{{ gage.q }} cfs </b>
                    <small>@ {{gage.q_time}} {{gage.q_date}}</small>
                  </h4> 
                </div>

                {% if gage.image_exists(): %}
                  <div class="row">
                    <img src={{ url_for('static', filename=gage.image_file()) }}>
                  </div>
                {% endif %}
              </div>
          {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
