<div class="dropdown">
  <button class="btn " type="button"
        id="{{ gage.gage_id }}dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
    <i class="fa-solid fa-bars"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="{{ gage.gage_id }}dropdownMenuButton">
    {% if gage.menu.get('forecast_url', none) is not none %}
      <li>
        <a class="dropdown-item" href="{{ gage.menu['forecast_url'] }}">
          <span class="menu-icon-col">
            <img src={{ url_for('static', filename='crystal_ball.svg') }} alt="crystal ball icon"
              height="22">
          </span>
          <span> Flow Forecast </span>
        </a>
      </li>
    {% endif %}
    {% if gage.menu.get('swe_plot', none) is not none %}
      <li>
        <a class="dropdown-item" href="{{ gage.menu['swe_plot'] }}">
          <span class="menu-icon-col"> <i class="fa-solid fa-snowflake" ></i> </span>
          <span> Snowpack SWE Plot </span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>