{# Show image and data for a gage #}
<div class="row">
    <div class="col">
        <h4 class="fs-5"> 
            {% if gage.url() is not none %}
                <a id="{{ gage.gage_id }}" href="{{ gage.url() }}" class="gage-name">
                {{ gage.location }} 
                </a> &emsp; 
            {% else %}
                {{ gage.location }} 
            {% endif %}
        </h4> 
    </div>
    {% if gage.menu != {} %}
        <div class="col-1 text-end">
            {%include "gage_menu.html.j2" %}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-5">
        <b class="fs-6">{{ gage.q }} {{ gage.units }} </b>
    </div>
    <div class="col text-end">
        <small>@ {{gage.q_time}} {{gage.q_date}} {{gage.old_date_warning}}</small>
    </div>
</div>

{% if gage.image_exists(): %}
    <div class="row">
        <img src="{{ url_for('static', filename=gage.image_file() ) }}?ver={{ gage.q_unix_time }}">
    </div>
{% endif %}