{% extends "base.html" %}
{% block content %}
    <a href=https://www.nrcs.usda.gov/wps/portal/nrcs/detail/co/snow/products/?cid=nrcs144p2_063323>NRCS Snotel for Colorado </a>
    {#
      <h2> Colorado State Wide </h2>
      <img src=https://api.snowdata.info/co/charts/basinplotstate22.gif>
      <h2> Arkansas River</h2>
      <img src=https://api.snowdata.info/co/charts/basinplotark22.gif>
      <h2> South Platte River</h2>
      <img src=https://api.snowdata.info/co/charts/basinplotsprb22.gif>
      <h2> Colorado River</h2>
      <img src=https://api.snowdata.info/co/charts/basinplotcrb22.gif>
      <h2> Gunnison River</h2>
      <img src=https://api.snowdata.info/co/charts/basinplotgrb22.gif>
      <h2> Yampa River</h2>
      <img src=https://api.snowdata.info/co/charts/basinplotywrb22.gif>
      <h2> San Juan, Animas, Dolores, and San Miguel</h2>
      <img src=https://api.snowdata.info/co/charts/basinplotsmdasjrb22.gif>
      #}
{% endblock %}
