{% extends "base.html" %}
{% block content %}
    <a href=https://www.nrcs.usda.gov/wps/portal/nrcs/detail/co/snow/products/?cid=nrcs144p2_063323>NRCS Snotel for Colorado </a>
    <h2> Colorado State Wide </h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotstate21.gif?>
    <h2> Arkansas River</h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotark21.gif>
    <h2> South Platte River</h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotsprb21.gif>
    <h2> Colorado River</h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotcrb21.gif>
    <h2> Gunnison River</h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotgrb21.gif>
    <h2> Yampa River</h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotywrb21.gif>
    <h2> San Juan, Animas, Dolores, and San Miguel</h2>
    <img src=https://www.wcc.nrcs.usda.gov/ftpref/states/co/charts/basinplotsmdasjrb21.gif>
  </body>
</html>
{% endblock %}
